# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*cache*

# dependencies
oc_binary_explorer/node_modules
oc_binary_explorer/frontend/node_modules
oc_binary_explorer/.pnp*
oc_binary_explorer/frontend/.pnp*

# testing
oc_binary_explorer/coverage
oc_binary_explorer/frontend/coverage

# next.js
oc_binary_explorer/.next/
oc_binary_explorer/frontend/.next/
oc_binary_explorer/out/
oc_binary_explorer/frontend/out/

# production
oc_binary_explorer/build
oc_binary_explorer/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
*ipynb_checkpoints*
__pycache__
*.pyc

# database files
*.db