<html>
	<head>  
		<meta charset='UTF-8' name='viewport'> 
		<title>OC Binary Explorer</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />

		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@400;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

		<!-- ADD GOOGLE ANALYTICS -->
		<!-- ADD LOGO -->

	</head>

	<body>
		<div class = "topNav">
			<div class = "content">
				<div class = "header">Open Cluster Binary Explorer</div>
				<div class = "subheader">Access binary-star data in hundreds of open clusters</div>
			</div>
		</div>
		<div class = "topNav" style = "padding-top:1vw">
			<div class = "content">
				An NSF-funded research project from PI <a href="https://faculty.wcas.northwestern.edu/aaron-geller/index.html">Aaron M. Geller</a>
			</div>
		</div>

<!-- I WANT THIS TO BE AT LEAST AS TALL AS THE WINDOW -->
		<div class = "fullWidthImage"></div>

		<div class = "division darkGrayBackground">
			<div class = "content">
				<div class = "subheader lightGrayColor">[Explanation of the analysis]</div>
				<div class = "lightGrayColor" style= "margin-top:10px">[Some text about analysis and BASE-9]</div>
			</div>
		</div> 



		<div class = "pageSideBySide mintBackground" >
			<div class = "content"  style = "min-height:700px; width:100%">
				<div class = "header darkGrayColor">Interactive data explorers</div>

			<div class="animateScrollWrapper">
				<div class="animateScroll scrollTransition">

							<div class = "child">
								<div class = "insetLeft blueBackground linkDiv" style = "min-height: 600px">
									<div class = "content">
										<div class = "headerSmall">Tables</div>
										<div class = "subheader">View, filter, sort, download the raw data</div>
									</div>
								</div>
							</div>
							<div class = "child">
								<div class = "insetRight darkGrayBackground linkDiv" style = "min-height: 600px">
									<div class = "content">
										<div class = "headerSmall">Plots</div>
										<div class = "subheader">Create, edit, download plots of the data</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		<div class = "division lightGrayBackground">
			<div class = "content" style = "min-height:700px; width:100%">
				<div class = "headerSmall darkGrayColor">Credit</div>
				<div class = "subheader darkGrayColor" style = "margin:20px 0px 20px 0px">Contributors</div>
				<hr>
				<div class = "pageSideBySide">
					<div class = "smallerChild" style="padding-right:20px">
						<div class = "insetLeft">
							<a href = "https://faculty.wcas.northwestern.edu/aaron-geller/index.html"><img class = "profileImage" src="static/images/AMG_photo_square.png"></a>
						</div>
					</div>
					<div class = "child">
						<div class = "insetRight centerV">
							<p>
								<strong><a href = "https://faculty.wcas.northwestern.edu/aaron-geller/index.html">Aaron M. Geller</a></strong><br/>
								Research Assistant Professor, Project PI<br/>
								Northwestern Unversity - CIERA<br/>
							</p>
						</div>
					</div>
				</div>

				<hr>
				<div class = "pageSideBySide">
					<div class = "smallerChild" style="padding-right:20px">
						<div class = "insetLeft">
							<a href = ""><img class = "profileImage" src="static/images/Smiley_Face.png"></a>
						</div>
					</div>
					<div class = "child">
						<div class = "insetRight centerV">
							<p>
								<strong><a href = "">Anna Childs</a></strong><br/>
								Postdoctoral Associate<br/>
								Northwestern Unversity - CIERA<br/>
							</p>
						</div>
					</div>
				</div>

				<hr>
				<div class = "pageSideBySide">
					<div class = "smallerChild" style="padding-right:20px">
						<div class = "insetLeft">
							<a href = ""><img class = "profileImage" src="static/images/Smiley_Face.png"></a>
						</div>
					</div>
					<div class = "child">
						<div class = "insetRight centerV">
							<p>
								<strong><a href = "">Erin Motherway</a></strong><br/>
								Undergraduate Researcher<br/>
								Embry-Riddle Aeronautical University<br/>
							</p>
						</div>
					</div>
				</div>

				<hr>
				<div class = "pageSideBySide">
					<div class = "smallerChild" style="padding-right:20px">
						<div class = "insetLeft">
							<a href = ""><img class = "profileImage" src="static/images/Smiley_Face.png"></a>
						</div>
					</div>
					<div class = "child">
						<div class = "insetRight centerV">
							<p>
								<strong><a href = "">Claire Zwicker</a></strong><br/>
								Undergraduate Researcher<br/>
								Illinois Institute of Technology<br/>
							</p>
						</div>
					</div>
				</div>

				<hr>


				<div style="height:50px"></div>
				<div class = "subheader darkGrayColor">Papers</div>

			</div>
		</div>
		<div class = "division footer">
			<div class = "content" style="font-size: calc(10px + 0.5vw);">
				<strong><a href = "https://faculty.wcas.northwestern.edu/aaron-geller/index.html">Aaron M. Geller</a></strong><br/>
				<a href = "https://ciera.northwestern.edu/" target = "_blank">Northwestern University - CIERA</a><br/>				
				1800 Sherman Ave., Evanston, IL 60201, USA<br/>
				Office: 8019 (8th Floor)<br/>
				Phone: (847) 467-6233   |   Fax: (847) 467-0679<br/>
				Email: a-geller [at] northwestern.edu<br/>
			</div>
		</div>
        
		<!-- Libraries -->
		<script src="static/lib/socket.io.js"></script>


		<!-- my codes -->
		<script src="static/js/params.js"></script>
		<script src="static/js/init.js"></script>
		<script src="static/js/scrollAnimator.js"></script>

	</body>
</html>