# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
oc_binary_explorer/node_modules
oc_binary_explorer/.pnp
oc_binary_explorer/.pnp.js

# testing
oc_binary_explorer/coverage

# next.js
oc_binary_explorer/.next
oc_binary_explorer/out

# production
oc_binary_explorer/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
*ipynb_checkpoints*
__pycache__
*.pyc

# database files
*.db