/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@400;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
	/* --purple:#7D5BA6; */
	--foreground:#ACFCD9;
	/* --foreground:#2CB59C; */
	--light:#EBEBEB;
	--dark:#292929;
	--link:#FC6471;
	--banner:#3066BE;

}

html,body{
	font: 1vw sans-serif;
	padding: 0;
	margin: 0;
	background-color: white;
	overflow: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: var(--dark);
    scroll-snap-type: y proximity;
    height:100%;
}

/* page divs */
.topNav {
	position: relative;
	width: 100%;
	/*min-height: 200px;*/
	background-color: var(--banner);
    z-index:10;
    scroll-snap-align: start;
}
.topNav .content {
	padding: 10px;
	color: var(--light);
}

.fullWidthImage {
	position: relative;
	width: 100%;
    height: 0;
	background-color: var(--dark);
    padding-bottom: 100%;  
    overflow: hidden; /* Ensure the image is clipped to the container */
}
.fullWidthImage::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pageSideBySide {
	position: relative;
	width: 100%;
	background-color: var(--light);
	color: var(--dark);
	display: inline-block;
}
.pageSideBySide .child{
	width: 50%;
	min-width:200px; 
	float: left;
}
.pageSideBySide .smallerChild{
	width:10%; 
	min-width:200px; 
	float: left;
}

.pageSideBySide .child .insetLeft{
	margin: 5px 5px 5px 0px;
}
.pageSideBySide .child .insetRight{
	margin: 5px 0px 5px 5px;
}

.pageInset{
    position: relative;
	width: 100%;
	background-color: var(--light);
	color: var(--dark);
	display: inline-block;
}
.pageInset .inset{
    margin:5px;
}

.content{
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
}

.division{
	/*min-height: 100px;*/
}

.sideBar{
    position:absolute;
    left:0;
    top:0;
    z-index:2;
    height:100%;
    width:100px;
    background-color: var(--foreground);
}
.sideBar .button{
    width:70px;
    height:90px;
    border: 1px solid black;
    border-radius:10px;
    margin: 15px;
}
.sideBar .button .icon{
    font-size:70px;
}
.sideBar .button .label{
    font-size:20px;
    text-align:center;
    margin-top:-10px
}
.explorerContent{
    margin-left:110px;
}
.explorerContainer{
    position:absolute;
    width:500px;
    height:500px;
    border:2px solid black;
    border-radius:6px;
    background-color:var(--light);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    resize:both;
    overflow:auto;
    z-index:1;
    box-sizing: border-box;
}
.explorerTopBar{
    left:0px;
    top:0px; 
    height:40px;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}
.explorerTopBarIcons{
    float: right;
}
.explorerTopBar .icon{
    color: var(--light);
    font-size:40px;
    line-height:40px;
    cursor:pointer;
    text-align:right;
}
.explorerTopBar .label{
    color: var(--light);
    font-size:30px;
    line-height:40px;
    text-align:left;
    padding-left:10px;
}

.linkDiv{
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	transition: box-shadow 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.linkDiv:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.8);
	transform: scale(1.01, 1.01);
}

.bannerBackground{
	background-color: var(--banner) !important;
}
.foregroundBackgroundColor{
	background-color: var(--foreground) !important;
}
.lightBackgroundColor{
	background-color: var(--light) !important;
}
.darkBackgroundColor{
	background-color: var(--dark) !important;
}
.foregroundColor{
	color:  var(--foreground) !important;
}
.darkColor{
	color:  var(--dark) !important;
}
.lightColor{
	color:  var(--light) !important;
}



.profileImage{
	cursor: pointer;
	width:100%; 
	border-radius:50%; 
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	/*shape-outside:circle(50%)*/
	transition: box-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.profileImage:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.8);
	transform: scale(1.01, 1.01);
}
.centerV{
	line-height: 200px;
	height: 200px;
/*	margin:  0;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);*/
}
.centerV p{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
/* font styles */
.header{
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
	font-weight: bold;
	color:  var(--foreground);
}
.headerSmall{
	font-family: 'Rubik', sans-serif;
	font-size: 40px;
	font-weight: bold;
	color:  var(--foreground);
}
.subheader{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-style: italic;
	color:  var(--light);
}


/* links */
a:link {
	color: var(--link);
}
a:visited {
	color: var(--link);
}
a:hover {
	color: var(--link);
	/*font-style: italic;*/
}
a:active {
	color: var(--link);
}

.footer a:link {
	color: var(--dark);
}
.footer a:visited {
	color: var(--dark);
}
.footer a:hover {
	color: var(--dark);
	/*font-style: italic;*/
}
.footer a:active {
	color: var(--dark);
}


/* animating on scroll */
.animateScroll {
	opacity: 0;
	transform: scale(0.6);
}

.animateScroll {
	transition: opacity 1.5s ease, transform 1.5s ease;
	-webkit-transition: opacity 1.5s ease, transform 1.5s ease;
}

.scrollTransition {
    opacity: 1;
    transform: none;
}

/* google material icons */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.grabbing * {
    cursor: grabbing;
}

#explorerEntryDiv {
    scroll-snap-align: start;
}
#creditDiv {
    scroll-snap-align: start;
}