<html>
	<head>  
		<meta charset='UTF-8' name='viewport'> 
		<title>OC Binary Explorer</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />

		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik:wght@400;700&family=Ubuntu:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

		<!-- ADD GOOGLE ANALYTICS -->
		<!-- ADD LOGO -->

	</head>

	<body>
		<div class = "topNav">
			<div class = "header">Open Cluster Binary Explorer</div>
			<div class = "subheader">Free access to binary data in hundreds of open clusters</div>
			<div style="position:absolute; bottom:0; margin-bottom:10px;">
				An NSF-funded research project from PI: Aaron M. Geller
			</div>

		</div>


		<!-- Libraries -->
		<!-- <script src="static/lib/socket.io.js"></script> -->


		<!-- my codes -->
		<!-- <script src="static/js/params.js"></script> -->
		<!-- <script src="static/js/init.js"></script> -->

	</body>
</html>